@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --cobat-guinda: #ab0033;
  --cobat-guinda-dark: #8b002a;
  --cobat-dorado: #bc955c;
}

/* Scrollbar personalizada */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: var(--cobat-guinda);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--cobat-guinda-dark);
}
